<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://cz-nodelete-chronozoom-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cz-nodelete-chronozoom-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$cz-nodelete-chronozoom-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Storage" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jvlwd0c6a4.database.windows.net,1433;Initial Catalog=cz-nodelete-chronozoom-test;User ID=cznodeletechronozoomtest@jvlwd0c6a4;Password=ChronoChrono!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Chronozoom.Entities.Storage, Chronozoom.Entities" MigrationConfiguration="Chronozoom.Entities.StorageMigrationsConfiguration, Chronozoom.Entities" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Storage-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jvlwd0c6a4.database.windows.net,1433;Initial Catalog=cz-nodelete-chronozoom-test;User ID=cznodeletechronozoomtest@jvlwd0c6a4;Password=ChronoChrono!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>